body {
 /* background-image: linear-gradient(rgb(92, 7, 7), rgb(23, 7, 7));*/
  margin:0px;
}

/* Används för sidans huvudlayout. Använder flexbox för att dela upp sidan i vertikal sektioner */
.verticalContainer {
  background-image: linear-gradient(rgb(92, 7, 7), rgb(23, 7, 7));
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  position:absolute;
  top:0px;
  min-height: 100vh;
}

.section {
width:100%;
}

/* Definerar layout av meny mha flexbox */
#menuContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  width: 100%;
  height:40px;
  background-image: linear-gradient(to right, rgb(194, 194, 194), rgb(194, 194, 194) );
}

/* Definerar ytan där produktern visas på produktsidan*/
#mainArea {
  max-width:950px;
  min-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  border: 2px;
  border-color: rgb(109, 27, 27);
  border-style: solid;
  background-color: rgb(36, 4, 4);
}

/* Klass för menyval i huvudmeny. Kan innehålla underelement som styrs med flexbox*/
.item {
  display: flex ;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
  cursor: pointer;
  vertical-align: middle;
  width: 240px;
  height:100%;
  font-size: x-large;
  margin: 0px;
  color:rgb(71, 71, 71);
 /* border: 2px solid rgb(36, 4, 4);
  background-color: rgb(78, 7, 7); */
}

/* Klass som förstorar text i menyn när muspekaren är över*/
.item:hover {
  font-size: xx-large;
}

.itemHoover {
  font-size: xx-large;
}

.item > img {
padding:2px;
height:90%;
}

.customerMessage {
  font-size: 42px;
  font-style: italic;
  color:white;
  text-align: center;
}

.title {
     display: flex ;
     justify-content:center;
     font-size: xx-large;
     height: 100px;
     width: 100px;
     margin: auto;
     padding: 20px 0;
}

.preview {
     display: flex ;
     justify-content:center;
     font-size: x-large;
     height: 200px;
     width: 250px;
     margin: 15px;
     margin-bottom: 15px;


}

/* styling av footern. Skall alltid ligg alängst ner och synas*/
#footer {
  display: flex ;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: rgb(194, 194, 194);
  position: fixed;
  bottom: 0;
  width: 100%;
} 

.footer > p { 
font-size: large;
margin: 0px;
}

.banner {
  font-size: xx-large;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-bottom: -20px;
  margin-top:0px;
  background-color: rgb(0, 0, 0);
}


.product {
  display: flex ;
  flex-direction: column;
  justify-content:center;
  font-size: x-large;
  height: 80%;
  margin: 20px;
  padding:10px;
}

.product > p {
  margin-top: 0px;
  color: rgb(211, 209, 206);
  font-size: 16px;
  background-image: linear-gradient(to right, rgb(153, 0, 0), rgb(153, 0, 0) );
  padding: 2px;
  font-style: initial;
}

/*klass som lägger till en 5 sekunder animering med namenetr carSlide på en produkt*/
.slideProduct {
  animation-name: carSlide;
  animation-duration: 5s;
  position: relative;
  overflow-x: hidden;
  margin:0px;
  padding:0px;
  width:350px;
}


.slideProduct > img {
  height: 230px;
}

/*Defeintions av carSLide animering. Åker från vänster till hgöger och fadar in och sedan ut */
@keyframes carSlide {
  0%   {left:0%;opacity:0.1;}
  35%  {left:40%;opacity:1;}
  65%  {left:40%;opacity:1;}
  100% {left:70%;opacity:0;}
}


.dealership {
  font-size: xx-large;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: rgb(78, 7, 7);
}

.dealership > img {
  height:300px;
}

.dealercontainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.dealercontainer > p {
  text-align: center;
  font-size: xx-large;
}

.abouttext {
  display: flex;
  flex-wrap: right;
  justify-content: center;
  margin-top:30px;
  font-size: 18px;
  font-style: italic;
  color:white;
  text-align: center;
}

.abouttext > p {
    width:50%;
}

.documentation {
  margin-left: 40px;;
  margin-top:30px;
  font-size: 18px;
  font-style: italic;
  color:white;
  text-align: left;
}

.documentation > p {
  width:70%;
}

